<% include ../parts/head %>
<% include ../parts/othernav %>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">AR 신청현황</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">

          <div class="panel-body">

          <h3>-> <a href="/roomnumber2" target="_blank">세미나실 번호 확인 (2층)</a></h3>
          <h3>-> <a href="/roomnumber5" target="_blank">세미나실 번호 확인 (5층)</a></h3> <br>

            <ul>
            <h3><a href="arenroll/arindex2"><div>2층</div></a></h3><br>
            <h3><a href="arenroll/arindex5"><div>5층</div></a></h3><br>
            <h3><a href="arenroll/arindexorchestra"><div>오케스트라</div></a></h3>            
            </ul>

          </div> <br><br>

        </div>
        <!-- /.col-lg-12 -->
    </div>

</div>
<!-- /#page-wrapper -->

<% include ../parts/footer %>
