<% include ../parts/head %>
<% include ../parts/nav %>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">기본정보</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    서비스 소개
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                - 지금까지 청심국제고등학교에서의 4교시 야자 신청이나 AR 신청은 오프라인 서면으로만 이루졌습니다. 특히 AR신청의 경우는 신청서가 여자 기숙사에만 있어서 남학생들이 상당한 불편을 겪었습니다. CheongshimAR은 이러한 비효율적이고 야만적인 프로세스를 개선하기 위해 개발된 온라인 서비스입니다. HTML5와 부트스트랩 프레임워크로 개발되어 웹 표준을 100% 준수하고 있으며, 접속 기기에 상관없이 동일한 기능을 이용하실 수 있습니다.
                <br><br> * 부트스트랩 프레임워크는 개발시 3.3.7 버전을 사용하였습니다.

                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingEight">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseFour">
                    개발시 사용한 라이브러리, 프레임워크 정보
                  </a>
                </h4>
              </div>
              <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
                <div class="panel-body">
                  - Bootstrap<br>
                  - Datatable<br>
                  - Google Web Fonts<br>
                  - Font-Awsome Icon<br>
                  - StartBootstrap 'sb-admin-2' Template <br>
                  - 배달의 민족 '한나는 열한살' 폰트
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    사용 대상
                  </a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                  - 현 청심국제고등학교 재학생들만 이용 가능한 서비스입니다.
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    제작 기간 및 개발자
                  </a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                  - 제작 기간 : 07.14.2017 ~ 09.04.2017 <br><br> - 개발자 : 이재준(Owen Lee)</a>
                </div>
              </div>
            </div>

            <br><br>

          </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

</div>
<!-- /#page-wrapper -->

<% include ../parts/footerwithout %>