<% include ../parts/head %>
<% include ../parts/nav %>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">공지사항</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

          개발 중인 메뉴입니다.

        </div>
    </div>
    
    <br><br>

</div>

<% include ../parts/footer %>
