<% include ../parts/head %>
<% include ../parts/nav %>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">이용방법</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">

          * AR의 경우에는 반드시 신청현황을 먼저 확인한 후에 신청하시길 바랍니다. <br><br>
          * 같은 세미나실에 서로 다른 동아리가 중복으로 신청될 경우, 1초라도 먼저 신청한 학생이 속한 동아리만 인정합니다.
          <br><br> * 정렬 기능과 검색 기능을 잘 활용하세요. 검색 기능은 띄어쓰기로 입력값을 구분합니다.
          예를 들어 2-1 호실의 AR 신청 현황을 보고 싶을 경우에는 'AR 2-1'과 같이 입력하시면 데이터가 자동으로 정렬됩니다.

        </div>
        <!-- /.col-lg-12 -->
    </div>

</div>
<!-- /#page-wrapper -->

<% include ../parts/footer %>
