<% include ../parts/head %>
<% include ../parts/nav %>

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">메인 페이지</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-pencil-square-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">선택야자</div>
                            <div>선택야자 신청</div>
                        </div>
                    </div>
                </div>
                <a href="/openroll/opnew">
                    <div class="panel-footer">
                        <span class="pull-left">신청하기</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-pencil-square-o fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">AR</div>
                            <div>AR 신청</div>
                        </div>
                    </div>
                </div>
                <a href="arenroll/arnew">
                    <div class="panel-footer">
                        <span class="pull-left">신청하기</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-info-circle fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">선택야자 현황</div>
                            <div>신청현황</div>
                        </div>
                    </div>
                </div>
                <a href="/openroll">
                    <div class="panel-footer">
                        <span class="pull-left">자세히보기</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-info-circle fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">AR 현황</div>
                            <div>신청현황</div>
                        </div>
                    </div>
                </div>
                <a href="/arenroll">
                    <div class="panel-footer">
                        <span class="pull-left">자세히보기</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

    </div>
    <br><br>
    </div>
</div>

<% include ../parts/footerwithout %>