* 신청 삭제를 위한 패스워드
<div class="form-group">
    <input class="form-control" placeholder="숫자로만 입력해주세요." type="text" id="oppassword" name="oppassword">
    단, 맨 앞자리에 '숫자 0'이 오면 안됩니다.
</div>

<br>
</fieldset>

<button type="submit" class="btn btn-lg btn-success btn-block" id="submitbtn">신청하기</button>
<input class="form-control" id="alertbtn" type="text" value="신청 시간이 아닙니다^^!" disabled>

</form>
</div> <br><br>

</div>
</div>

</div>

<!-- jQuery -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/js/metismenu.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/custom.min.js"></script>

<script src="/js/jquerydatatable.js"></script>
<script src="/js/datatablebootstrap.js"></script>
<script src="/js/datatablebtn.js"></script>
<script src="/js/btnbootstrap.js"></script>
<script src="/js/jszip.js"></script>
<script src="/js/btnhtml5.js"></script>
<script src="/js/btnprint.js"></script>
<script src="/js/btncolvis.js"></script>

</body>
</html>
