<!-- jQuery -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/js/metismenu.js"></script>

<!-- Custom Theme JavaScript -->
<script src="/js/custom.js"></script>

<script src="/js/jquerydatatable.js"></script>
<script src="/js/datatablebootstrap.js"></script>
<script src="/js/datatablebtn.js"></script>
<script src="/js/btnbootstrap.js"></script>
<script src="/js/jszip.js"></script>
<script src="/js/btnhtml5.js"></script>
<script src="/js/btnprint.js"></script>
<script src="/js/btncolvis.js"></script>

</body>
</html>
