<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">CheongshimAR</a>
    </div>
    <!-- /.navbar-header -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

              <li>
                <a href="../about"><i class="fa fa-info-circle fa-fw"></i> 기본정보</a>
              </li>

              <li>
                <a href="../howtouse"><i class="fa fa-paper-plane-o fa-fw"></i> 이용방법</a>
              </li>

              <li>
                  <a href="../announcement"><i class="fa fa-bullhorn fa-fw"></i> 공지사항 </a>
              </li>

              <li>
                  <a href="https://open.kakao.com/o/gFzq8Nz" target="_blank"><i class="fa fa-commenting fa-fw"></i> 문의하기 </a>
              </li>

            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
